src/Core/Domain/obj/Debug/net9.0/SaaS.Domain.pdb
*.cs
src/Core/Domain/obj/Debug/net9.0/ref/SaaS.Domain.dll
src/Core/Application/obj/Debug/net9.0/SaaS.Application.AssemblyInfo.cs
*.cache
src/Core/Application/obj/Debug/net9.0/SaaS.Application.AssemblyInfo.cs
src/Core/Domain/obj/Debug/net9.0/refint/SaaS.Domain.dll
src/Core/Application/obj/Debug/net9.0/SaaS.Application.AssemblyInfoInputs.cache
src/Core/Application/obj/Debug/net9.0/SaaS.Application.AssemblyInfo.cs
src/Core/Domain/obj/Debug/net9.0/SaaS.Domain.csproj.FileListAbsolute.txt
src/Core/Application/obj/Debug/net9.0/SaaS.Application.AssemblyInfo.cs
src/Core/Application/obj/Debug/net9.0/SaaS.Application.AssemblyInfoInputs.cache
src/Core/Domain/obj/Debug/net9.0/SaaS.Domain.dll
src/Core/Application/obj/Debug/net9.0/SaaS.Application.AssemblyInfo.cs
src/Core/Application/obj/Debug/net9.0/SaaS.Application.AssemblyInfo.cs
src/Core/Application/obj/Debug/net9.0/SaaS.Application.AssemblyInfoInputs.cache
src/Infrastructure/obj/Debug/net9.0/SaaS.Infrastructure.AssemblyInfo.cs
src/Infrastructure/obj/Debug/net9.0/SaaS.Infrastructure.AssemblyInfoInputs.cache
src/Presentation/Presentation.http
src/Presentation/Properties/launchSettings.json
src/Presentation/Presentation.csproj
src/Presentation/appsettings.json
src/Presentation/appsettings.Development.json
*.cache
*.cache
src/Core/Domain/obj/Debug/net9.0/SaaS.Domain.sourcelink.json
*.cs
*.cs
src/Presentation/API/obj/Debug/net9.0/SaaS.API.AssemblyInfoInputs.cache
src/Core/Application/obj/Debug/net9.0/SaaS.Application.AssemblyInfo.cs
src/Core/Application/obj/Debug/net9.0/SaaS.Application.AssemblyInfo.cs
src/Core/Application/obj/Debug/net9.0/SaaS.Application.AssemblyInfoInputs.cache
src/Core/Application/obj/Debug/net9.0/SaaS.Application.AssemblyInfo.cs
src/Core/Application/obj/Debug/net9.0/SaaS.Application.AssemblyInfoInputs.cache
src/Infrastructure/obj/Debug/net9.0/SaaS.Infrastructure.AssemblyInfo.cs
src/Core/Application/obj/Debug/net9.0/SaaS.Application.AssemblyInfo.cs
src/Core/Application/obj/Debug/net9.0/SaaS.Application.AssemblyInfo.cs
src/Core/Application/obj/Debug/net9.0/SaaS.Application.AssemblyInfo.cs
src/Core/Application/obj/Debug/net9.0/SaaS.Application.AssemblyInfo.cs
src/Core/Application/obj/Debug/net9.0/SaaS.Application.AssemblyInfo.cs
